.tgpq-button-next-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tgpq-button-next {
    border: none;
    margin: auto;
    margin-bottom: 20px;
    background-color: var(--LightestOne);
    color: var(--DarkestOne);
    border-radius: 10px;
    padding: 0.5% 15%;
    display: inline-block;
    text-align: center;
}

.tgpq-button-next:hover {
    transform: scale(110%);
}

.tgpq-button-next:active {
    box-shadow: inset 0px 0px 15px var(--GameTGPQ);
    font-family: "Tgpq-bold"
}