/* Cards container */
.tgpq-chaCard-body {
    background-color: var(--NearWhite);
    border-radius: 10px;
    margin: 2% 20%;
    height: 20%;
    padding: 10px;
}

/* Each Character's Card */
.tgpq-chaCard-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tgpq-chaCard-card * {
    border: 1px fuchsia dotted;
}

.tgpq-chaCard-card.column {
    flex-direction: column;
}

.tgpq-chaCard-card.row {
    flex-direction: row;
}

/* Stats (heart and bars) */
.tgpq-character-stats {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding-top: 0.1em;
    align-items: flex-start;
}

.tgpq-chaCard-card.row .tgpq-character-stats {
    width: 49%;
}

/* Every p of every stats (heart and bars) */
.tgpq-character-stats p {
    color: var(--DarkestOne);
    padding-right: 10px;
    font-size: 25px;
}

/* First p of heart */
.tgpq-character-stats .life p:first-of-type {
    font-weight: bold;
}

/* Every p of bars */
.tgpq-character-stats .bar p {
    font-style: italic;
}

/* Each progress bar with text in it */
.tgpq-character-stats .bar {
    width: 100%;
    margin-top: 0.3em;
}

/* Heart and text */
.tgpq-character-stats>.life {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

/* Only the heart */
.tgpq-character-stats>.life>div {
    top: 3px;
    margin-right: 0.2em;
    margin-left: 0.1em;
}