.stat>h1 {
  padding: 5% 0;
}

.stat.container {
  display: flex;
  flex-flow: row wrap;
  align-items: end;
  justify-content: space-evenly;
}

/* Card */
.stat-game {
  margin: 0 5% 5% 5%;
  height: fit-content;
  flex-wrap: wrap;
}

/* Card Title */

.stat-game>h2 {
  text-align: center;
  padding: 2% 5% 0 5%;
}

/* Card Border color by index */
/* ---> Game : The Great Peasant's Quest */
.border-thegreat {
  border-radius: 20px;
  border: 5px solid var(--GameTGPQ);
}

.border->h2 {
  border-bottom: 3px solid var(--GameTGPQ);
}

/* ---> Game : Lootery */
.border-lootery {
  border-radius: 20px;
  border: 5px solid var(--GameLootery);
}

.border-lootery>h2 {
  border-bottom: 3px solid var(--GameLootery);
}

/* ---> Game : Poulet vengeur */
.border-pouletve {
  border-radius: 20px;
  border: 5px solid var(--DarkRed);
}

.border-pouletve>h2 {
  border-bottom: 3px solid var(--DarkRed);
}

/* ---> Game : Patata Banana*/
.border-patataba {
  border-radius: 20px;
  border: 5px solid var(--Golden);
}

.border-patataba>h2 {
  border-bottom: 3px solid var(--Golden);
}

/* ---> Game : Mount */
.border-mount {
  border-radius: 20px;
  border: 5px solid var(--DarkBlue);
}

.border-mount>h2 {
  border-bottom: 3px solid var(--DarkBlue);
}

/* Card items of list */
.stat-game-list>li, .stat-game-list>span>li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 2% 5%;
}

/* Card items */
.stat-game-list-firstThree, .stat-game-list-rest {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 2%;
}

.stat-game-list-rest>li {
  width: 50%;
}

@media only screen and (min-width: 800px) {
  .stat-game {
    width: 40%;
  }

  .stat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stat-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}