h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form>* {
  font-size: 150%;
}

label {
  margin-top: 4%;
  padding-left: 2%;
}

form>label:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

input {
  padding: 2%;
  border-radius: 10px;
  background-color: var(--NearWhite);
  color: var(--DarkestOne);
}

input[type="submit"] {
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 2% 10%;
  color: white;
  min-width: 30%;
  align-self: center;
}

.form-login>input[type="submit"] {
  background-color: var(--DarkRed);
}

.form-create>input[type="submit"],
#modify-button {
  background-color: var(--DarkBlue);
}

@media only screen and (min-width: 1080px) {
  .container-login, .container-create {
    width: 40%;
  }

  .container-modify {
    width: 100%;
  }
}