* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--LightestOne);
}

/* Font families ------------*/
.font-family-hub, .font-family-hub * {
  font-family: "Hub", Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}

.font-family-tgpq-regular, .font-family-tgpq-regular * {
  font-family: "Tgpq-regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

.font-family-tgpq-bold, .font-family-tgpq-bold * {
  font-family: "Tgpq-bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

/* Background images ------------*/
.bg-tgpq-home {
  background-image: url("../assets/images/tgpq/tgpq_bg_home.jpg");
  background-size: cover;
}

.bg-tgpq-tavern {
  background-image: url("../assets/images/tgpq/tgpq_bg_tavern.jpg");
  background-size: cover;
}

.bg-tgpq-map {
  background-image: url("../assets/images/tgpq/tgpq_bg_map.png");
  background-size: cover;
}

body {
  background-color: var(--NearBlack);
  background-image: url("../assets/images/hub/bg_hub.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

@font-face {
  font-family: "Hub";
  src: local("Langar-Regular"),
    url("../assets/fonts/hub/Langar/Langar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tgpq-regular";
  src: local("KleeOne-Regular"),
    url("../assets/fonts/tgpq/Klee_One/KleeOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tgpq-bold";
  src: local("KleeOne-Bold"),
    url("../assets/fonts/tgpq/Klee_One/KleeOne-SemiBold.ttf") format("truetype");
}